body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fafc;
    font-size: 18px;
    color: #69696a;
    width: 100%;
    padding: 15px
  }

  a:link {
    color: #69696a;
    text-decoration: none;
  }

  a:visited {
    color: #69696a;
    text-decoration: none;
  }

  a:hover {
    color: #69696a;
    text-decoration: none;
  }

  a:active {
    color: #69696a;
    text-decoration: none;
  }

  #blob {
    background-color: black;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  }

  p {
    border-left-color: #69696a;
    border-left-style: solid;
    border-left-width: 3px;
    padding-left: 10px;
  }

  h1, .chirpus a {
      color: #000;
  }

.mega {
    position: relative;
}
.content{ 
  padding-top:160px;
  position: relative;
}

.chirpus{
    position: absolute;
   
}
.text {
  position: absolute;
  right: 60%;}

.all, .circles {
    position: absolute;
    right: 40px;
}
.all a {
    margin: 15px;
}

  .dot {
    height: 300px;
    width: 300px;
    background-color: rgba(247, 136, 167, 0.6);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    left: 217px;
    top: 22px;
  }


  .dot2 {
    height: 200px;
    width: 200px;
    background-color:rgba(247, 193, 162, 0.7);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 50px;
    left: 132px;
  }

  .dot3 {
    height: 150px;
    width: 150px;
    background-color: rgba(207, 130, 213, 0.6);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: -95px;
    left: -31px;
  }


.footer{
  position: absolute;
  top: 65%;
  right: 50%;

}


